@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    box-sizing: border-box;
}
body {
    background: #F7F6F2;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;

}
header {
    background-color: #464660;
}
main {
    margin: auto;
    max-width: 900px;
}
a,a:visited {
    color: inherit;
    text-decoration: none;
}
.nav-bar {
    background: #464660;
    padding: 20px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}
.menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    background: #555;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
}
.menu-item {
    color: white;
}
.menu-link {
    display:block;
    padding: 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
.menu-link:hover {
    background: #444;
}
.submenu .menu-link:hover {
    background: #222;
}
.submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.submenu .menu-link {
    background: #333;
    padding-left: 50px;
}
.mostrar {
    margin-left: 0;
}
@media(min-width:1024px){
    .nav-bar {
        display: none;
    }
    .menu {
        margin-left: 0;
        display: flex;
    }
    .container-submenu{
        position: relative;
    }
    .submenu {
        position: absolute;
        top: 60px;
        width: 200px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }
    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
}

.imagen-principal {
    width: 100%;
    height: auto;
}
/*Hasta acá Header*/

.contenedor {
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "contenido-1 contenido-1 contenido-1"
                         "contenido contenido contenido"
                         "widgets-container widgets-container widgets-container"
                         "footer footer footer";
}
.contenedor > div,
.contenedor .contenido-1,
.contenedor .contenido {
    padding: 20px;
    padding-top: 0;
    border-radius: 4px;
}
.contenedor .contenido-1 {
    margin: auto;
    max-width: 900px;
    grid-area: contenido-1;
}
.contenedor .contenido {
    margin: auto;
    max-width: 900px;
    grid-area: contenido;
}
.colores-magic {
    width: 250px;
    height: 250px;
}

.widgets-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: widgets-container;
}
.widget {
    margin-top: 20px;
    position: relative;
    width: 228px;
    height: auto;
    border-radius: 10px;
}
.widget img {
    max-width: 100%;
}
  
.widget-caption {
    margin: 0;
    position: absolute;
    color: white;
    bottom: 10px;
    right: 10px;
    text-align: right;
}
.contenedor-logo {
    margin: auto;
    text-align: center;
}
  
.logo {
    margin: 8px 15px 0 15px;
    max-width: 50px;
    max-height: 50px;
}
.footer {
    margin-top: 80px;
    padding: 15px 0;
    position: relative;
    background: #464660;
    color: white;
    grid-area: footer;
}
  
.redes-container {
    margin: auto;
    text-align: center;
}
  
.redes-container h3 {
    margin: 10px auto;
}
  
.redes-sociales {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
  
.redes-sociales li {
    padding: 10px;
}
  
.iconos-redes-sociales {
    text-decoration: none;
    font-size: 30px;
}
  
.info-contacto {
    padding-right: 25px;
    text-align: right;
}

.title-ul-img {
    margin: 40px auto 20px auto;
    text-align: center;
}
.ul-sitioweb {
    padding: 0;
    text-align: center;
    list-style: none;  
}
.ul-guia li {
    margin-bottom: 10px;
}
.colores-magic {
    display: block;
    margin: auto;
}
.img-guia {
    display: block;
    margin: auto;
}
.title-contenedor {
    text-align: center;
}



@media  screen and (max-width: 992px){
    .contenedor {
        grid-template-areas: "contenido-1 contenido-1 contenido-1"
                         "contenido contenido contenido"
                         "widgets-container widgets-container widgets-container"
                         "footer footer footer";
    }
    .widgets-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media  screen and (max-width: 576px){
    .contenedor {
        grid-template-areas: "contenido-1 contenido-1 contenido-1"
                         "contenido contenido contenido"
                         "widgets-container widgets-container widgets-container"
                         "footer footer footer";
    }
    .widgets-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media  screen and (max-width: 992px) {
    main {
        width: auto;
        margin: 10px;
    }
    .img-guia {
        max-width: 100%;
    }
}
@media  screen and (max-width: 576px) {
    main {
        width: auto;
        margin: 10px;
    }
    .img-guia {
        max-width: 100%;
    }
}